/* ==========================================================================
   Custom Variables
   ========================================================================== */
$transparent-background: rgba( $body-bg, 0.7 ) !default;
$slider-override: 0 !default;


/* ==========================================================================
   Base
   ========================================================================== */
.container-fluid {
    max-width: 1170px;
}

// standard content (wp pages and posts)
#content {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $transparent-background;
}

// remove background for homepage from above
body.home {
    #content {
        background-color: transparent;
    }
}

// makes the slideshow height match window height
.blvd-slideshow {
    @if ( $slider-override != 1 ) {
        height: 95vh;
    }
}

// adds slideshow fade automatically
.blvd-slideshow:before {
    @include gradient-vertical(rgba(0,0,0,0), $body-bg);
    content: '';
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}

// transitions all our links
a {
    @include transition( all .25s ease-in );
}