// adjusts for fixed headers bottom margin
// js calulates a body padding and this prevents
// the margin from becoming padding on the body element
@media (min-width: $screen-sm) {
    .navbar {
        margin-bottom: 0;
    }
}



/* ==========================================================================
   Contact Header
   ========================================================================== */
.contact-phone {
    background: $brand-primary;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    color: set-text-color-from-background( $brand-primary );

    span {
        display: block;

        &.number {
            font-size: 2rem;
        }
    }

    a {
        color: #fff;
    }
}