/* ==========================================================================
   Homepage Call to Action Boxes
   ========================================================================== */
.home-box {
    background-color: $transparent-background;
    padding: 0 20px 20px;
    position: relative;
    @include transition(background-color 0.5s ease-in-out);

    a {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    .home-box-title {
        display: inline-block;
    }
    .home-box-content {
        position: relative;
    }
    .home-box-action:after {
        content: '\f054';
        font-family: fontawesome;
        margin: 0 8px;
    }

    &:hover {
        background-color: $body-bg;
    }

} // .home-box