/* ==========================================================================
   Blog Styles
   ========================================================================== */
.post {
    margin-bottom: 20px;

    .post-thumb {
        @include make-sm-column(4);

        > a {
            display: block;
            background-color: $brand-primary;

            img {
                @include transition(opacity 0.5s ease-in-out);
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .post-content {
        padding-left: floor(($grid-gutter-width / 2));
        padding-right: floor(($grid-gutter-width / 2));

        .entry-title {
            margin-top: 0;
        }

        .read-more-link {
            margin: 15px 0;
        }
    }

    // Only put the content into a column if the post has a thumbnail
    .post-thumb + .post-content {
        @include make-sm-column(8);
    }

}