/* ==========================================================================
   Sidebar & Sidebar Nav
   ========================================================================== */
// Sidebar Logo
a.sidebar-brand {
    display: block;
    background-color: $transparent-background;
    text-align: center;

    span.site-name {
        display: inline-block;
        margin: 20px 0;
    }

    img#site-logo {
        padding: 20px 0;

        @media ( min-width: $screen-sm-min ) and ( max-width: $screen-lg-min ) {
            width: 90%;
        }
    }
}

// Sidebar Menu Layout and Styles
.nav_sidebar {
    background-color: $transparent-background;
    padding: 0;
    font-weight: $navbar-font-weight;
    font-size: $navbar-font-size;
    font-family: $navbar-font-family;
    position: relative;
    text-transform: $navbar-font-transform;

    ul {
        padding: 0;
        width: 100%;
        z-index: 100;
        list-style: none;

        // accordion menu - second level
        li ul {
            @if ( $navbar-default-link-bg == transparent ) {
                background-color: $content-color;
            } @else {
                background-color: $navbar-default-link-bg;
            }
        }

        // flyout menu - third level
        li ul li ul {
            @if ( $navbar-default-link-bg == transparent ) {
                background-color: $transparent-background;
            } @else {
                background-color: $navbar-default-link-bg;
            }
        }


        li {
            position: relative;
            background-color: $navbar-default-link-bg;
            padding: 5px 0;

            &.dropdown {
                padding-bottom: 3px;

                > a {
                    margin-bottom: 2px;
                }
            }

            // Target Dropdowns
            > a.dropdown-toggle,
            li.dropdown {

                // shows on hover
                &:hover > ul.collapse {
                    display: block;
                    position: absolute;
                    top: 0;

                    @media ( min-width: $screen-sm-min ) {
                        left: 220px;
                    }

                    @media ( min-width: $screen-md-min ) {
                        left: 213px;
                    }

                    @media ( min-width: $screen-lg-min ) {
                        left: 263px;
                    }
                }

                // adds the caret for submenu indicator
                > a:after {
                    content: "\f0da";
                    font-family: FontAwesome;
                    float: right;
                    padding-right: 10px;
                }
            }

            &:hover {
                background-color: $navbar-default-link-hover-bg;
                cursor: pointer;
            }


            a {
                color: $navbar-font-color;
                text-decoration: none;
                margin-left: 20px;
                display: block;

                &:hover {
                    color: $navbar-default-link-hover-color;
                }
            }

            &.active {
                background-color: $navbar-default-link-active-bg;

                a {
                    color: $navbar-default-link-active-color;
                }
            }


        }


        .pushbottom {
            padding-bottom: 8px;
        }
    } // .sidebar_nav ul

    ul.submenu-hj {
        font-weight: normal;
        position: relative;
        background-image: none;

        li {
            padding: .5em 0 .5em .4em;
            margin-top: -1px;

            > a i {
                margin-top: 4px;
                margin-right: 1em;
                margin-left: 0.5em;
                float: right
            }
        }
    }
} // .sidebar_nav


.socialmedia-sidebar {
    padding: $padding-base-horizontal 0;
    text-align: center;
    font-size: 2rem;

    a {
        margin: 0 $padding-small-vertical;
    }
} // .socialmedia-sidebar