/**
 * Child Theme Variables
 * Use this file to override any variables that are set in the compiler
 * Becuase the compiler uses the !default attribute for all variable declarations
 *
 * Use this to specify variables that cannot be changed.
 */

// $brand-primary:                             #fff;
// $brand-second:                              #fff;
// $brand-third:                               #fff;

// override the body background color
// $body-bg:									#000;
// $navbar-default-color:            			#009a44;
// $navbar-default-bg:                			#000;
// $navbar-default-border: 					#000;